.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .photo {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  